= render layout: 'nfg_csv_importer/onboarding/sub_layout', locals: { show_exit_button: false } do |f|

  .text-center
    -# Due to some malfeasance within rails, if the last render fails
    -# the error message will indicate only that it tried to render the first partial
    - begin
      = render "nfg_csv_importer/onboarding/import_data/finish/#{ file_origination_type_name }_#{ import.status }", import: import
    - rescue ActionView::MissingTemplate
      - begin
        = render "nfg_csv_importer/onboarding/import_data/finish/#{ import.status }", import: import
      - rescue ActionView::MissingTemplate
        = render "nfg_csv_importer/onboarding/import_data/finish/default", import: import

    = ui.nfg :button, :submit, :lg, body: t('button.view_all', scope: [locale_namespace, :finish]), describe: 'view-all'
    / = f.input :redirect_to_show_page, as: :hidden, input_html: { value: 'true' }

    = submit_tag 'Import details', class: "btn btn-secondary",  name: "show_page['true']"

    / = ui.nfg :button, :submit, :secondary, :lg, body: 'Import Details', describe: 'view-import-show-page', name: 'show_page', value: 'true'
