= render layout: 'nfg_csv_importer/onboarding/sub_layout', locals: { show_exit_button: false } do |f|

  .text-center
    -# Due to some malfeasance within rails, if the last render fails
    -# the error message will indicate only that it tried to render the first partial
    - begin
      = render "nfg_csv_importer/onboarding/import_data/finish/#{ file_origination_type_name }_#{ import.status }", import: import
    - rescue ActionView::MissingTemplate
      - begin
        = render "nfg_csv_importer/onboarding/import_data/finish/#{ import.status }", import: import
      - rescue ActionView::MissingTemplate
        = render "nfg_csv_importer/onboarding/import_data/finish/default", import: import

    .text-center
      -# This ends the onboarder and goes to the imports index page.
      = ui.nfg :button, :submit, :lg, body: t('button.view_all', scope: [locale_namespace, :finish]), describe: 'view-all', icon: 'chevron-right'
      %br
      -# This button sends the user to the import's show page
      = ui.nfg :button, :submit, :lg, :secondary, :outlined, body: t('button.details', scope: [locale_namespace, :finish]), name: 'alternative_finish_wizard_path', class: 'mt-3'

