= render layout: 'nfg_csv_importer/onboarding/sub_layout', locals: { header_message: t('.header.message'), header_page: t('.header.page', default: '') } do |f|
  #import_type_row.row{ data: { show_hide: "hide" } }
    - import_definitions.each do |import_type, definition|
      - import_type = import_type.to_s
      .col-md-4.col-6.mb-3{ data: { describe: "#{import_type}_import_type" } }
        .custom-control.custom-radio.custom-control-block.d-flex.align-items-start.h-100
          = f.radio_button 'import_type', import_type, class: "custom-control-input"
          %label.custom-control-label.text-center.w-100.h-100.bg-white{ for: "nfg_csv_importer_onboarding_import_data_import_type_import_type_#{import_type}" }
            = ui.nfg :typeface, title: import_type.pluralize.titleize
            = ui.nfg :typeface, body: definition.headline, class: 'mt-1 mb-0 text-break'

= provide :after_opening_body, onboarder_presenter.render_google_tag_manager