- i18n_scope = [:nfg_csv_importer, :onboarding, :import_data, step]

= render layout: 'nfg_csv_importer/onboarding/sub_layout', locals: { header_message: t('.header.message'), header_page: t('.header.page', file_origination_type: file_origination_type.try(:name)), next_step_confirmation: t('confirm.begin_import', scope: i18n_scope) } do |f|
  - if import.statistics.present?
    - begin
      = render partial: "nfg_csv_importer/onboarding/import_data/preview_confirmation/#{import_type}_detail_and_summary_data", locals: { i18n_scope: i18n_scope, onboarder_presenter: onboarder_presenter }
    - rescue ActionView::MissingTemplate
      = render "nfg_csv_importer/onboarding/import_data/preview_confirmation/default_summary_data", i18n_scope: i18n_scope, onboarder_presenter: onboarder_presenter
  - else
    .text-center.py-5
      = ui.nfg :icon, :loader, :muted, data: { describe: 'preview-confirmation-spinner' }
      = ui.nfg :typeface, :muted, title: 'Loading', class: 'display-4'
    :javascript
      retrieve_statistics("#{nfg_csv_importer.statistics_import_path(import)}")

  - if file_origination_type.display_mappings
    = ui.nfg :tile_section, describe: 'column-mappings' do
      = ui.nfg :collapse, id: 'mapped_column_headers', heading: "Review #{import.column_stats[:mapped_column_count]} of #{import.column_stats[:column_count]} columns to be mapped", collapsed: true do
        = render 'nfg_csv_importer/imports/mapped_column_headers', import: import

= provide :after_opening_body, onboarder_presenter.render_google_tag_manager
