= render layout: 'nfg_csv_importer/onboarding/sub_layout', locals: { header_message: t('.header.message', file_origination_type: file_origination_type.name), header_page: t('.header.page', file_origination_type: file_origination_type.name, description_of_files: "they come in a 'package' and look like this: some_filename.csv"), header_form: t('.header.form'), guidance: t('.guidance.modal', default: '')} do |f|

  .row
    .col-12#pre_processing_files_upload
      = f.file_field :pre_processing_files, multiple: true, data: { 'direct-upload-url' => rails_direct_uploads_url }
      .dropzone-target
        .dz-default.py-4.text-center
          = ui.nfg :icon, 'cloud-upload 3x', :primary
          = ui.nfg :typeface, heading: 'Drag and drop your file here.', class: 'mt-2'
          = ui.nfg :typeface, body: 'If you prefer to search your computer, click here to browse.', class: 'mb-0'
      - unless f.object.pre_processing_files.empty?
        - f.object.pre_processing_filess.each do |file|
          = f.hidden_field :pre_processing_files , value: file.signed_id

  = ui.nfg :alert, :tip, class: 'mt-4 mb-0' do
    = ui.nfg :typeface, body: 'Have any questions about your import? Read this article.', class: 'mb-0'

-# The following gets rendered by DropZone for each file that is dropped/added
#tpl.invisible
  .dz-preview.row.align-items-center.mx-0
    .col-2
      %img.img.img-fluid{"data-dz-thumbnail" => ""}/
    .col-10
      %p.mb-0
        %span{"data-dz-name" => ""}
        %small.text-muted.mr-2
          (
          %span{"data-dz-size" => ""}>
          )
      .media.align-items-center.mt-1
        .media-body
          .progress.progress-sm
            .progress-bar{"data-dz-uploadprogress" => "", :style => "width:0%;"}
        .ml-2
          .dz-success-mark
            %i.fa.fa-fw.fa-check.text-success
          .dz-error-mark
            %i.fa.fa-fw.fa-times.text-danger
      %p.mb-0.text-danger.font-weight-bold{"data-dz-errormessage" => ""}

