- import_mailer_presenter = NfgCsvImporter::Mailers::ImportMailerPresenter.new(@import, self)

- locales_scope = [:mailers, :nfg_csv_importer, :send_import_result_mailer]

- if import_mailer_presenter.show_successful_import_illustration?
  = image_tag image_path('nfg_csv_importer/illustrations/finish-success.png'), class: 'text-center', height: '240', id: 'finish_success_image'

- if import_mailer_presenter.show_steps?
  %row
    %columns{ small: 12, large: 4 }
      -# Milestone 1
      = render partial: 'nfg_csv_importer/import_mailer/send_import_result/milestone', locals: { milestone: NfgCsvImporter::Import::QUEUED_STATUS, import_mailer_presenter: import_mailer_presenter }
    %columns{ small: 12, large: 4 }
      -# Milestone 2
      = render partial: 'nfg_csv_importer/import_mailer/send_import_result/milestone', locals: { milestone: NfgCsvImporter::Import::PROCESSING_STATUS, import_mailer_presenter: import_mailer_presenter }
    %columns{ small: 12, large: 4 }
      -# Milestone 3
      = render partial: 'nfg_csv_importer/import_mailer/send_import_result/milestone', locals: { milestone: NfgCsvImporter::Import::COMPLETED_STATUS, import_mailer_presenter: import_mailer_presenter }

%spacer{ size: spacer(:triple) }

%row
  %columns
    %p#hello= t "headings.hello", scope: locales_scope, first_name: @recipient.first_name
    %p#introduction= t "body.introduction.#{@import.status}", scope: locales_scope
    %p#what_to_expect= t "body.what_to_expect.#{@import.status}", scope: locales_scope

    %spacer{ size: spacer(:double) }

    - if import_mailer_presenter.show_records_count?
      %h5#number_of_records
        There were
        = @import.number_of_records
        records added.
        - if import_mailer_presenter.show_errors?
          %span#error_records_count_of_total.text-alert
            = pluralize(@import.number_of_records_with_errors.to_i, 'record')
            had errors.

    - if import_mailer_presenter.show_errors?
      %spacer{ size: spacer(:base) }
      = render layout: 'nfg_ui/email/alert', locals: { theme_color: :warning } do
        %p= t 'alert.error', scope: locales_scope
        %p
          You can download the error file
          = link_to 'by clicking here.', import_url(@import, @url_options), id: 'error_link'

    - if import_mailer_presenter.show_visit_show_page_button?
      %spacer{ size: spacer(:base) }
      = render partial: 'nfg_ui/email/button', locals: { url: import_url(@import, @url_options), text: t('buttons.visit_show_page', scope: locales_scope), theme_color: theme_color(:primary) }

    %spacer{ size: spacer(:base) }
    %p
      Do good. Feel Good.
      %br/
      = '- Network for Good'
