- import_mailer_presenter = NfgCsvImporter::Mailers::ImportMailerPresenter.new(@import, self)
- locales_scope = [:mailers, :nfg_csv_importer, :send_import_result_mailer]

- content_for :flash do
  = render partial: 'nfg_ui/email/alert', locals: { theme_color: :success, body: import_mailer_presenter.status_result_alert_message }

= render partial: 'nfg_ui/email/header', locals: { heading: t('headings.hello', scope: locales_scope, first_name: @recipient.first_name) }

%row
  %columns
    %p= t "body.introduction.#{@import.status}", scope: locales_scope
    %p= t "body.what_to_expect.#{@import.status}", scope: locales_scope
    %p
      There were
      =@import.number_of_records
      records
      - if import_mailer_presenter.show_errors?
        and
        = @import.number_of_records_with_errors.to_i
        records had errors.

    - if import_mailer_presenter.show_errors?
      = render layout: 'nfg_ui/email/alert', locals: { theme_color: :warning } do
        %p= t 'alert.error', scope: locales_scope

        %p
          You can download the error file
          = link_to 'by clicking here', import_url(@import, @url_options)

    - if import_mailer_presenter.show_visit_show_page_button?
      = render partial: 'nfg_ui/email/button', locals: { url: import_url(@import, @url_options), text: t('buttons.visit_show_page', scope: locales_scope), theme_color: theme_color(:success) }



%spacer{ size: spacer(:base) }

%row
  %columns
    %h5= t 'headings.milestones', scope: locales_scope
    -# Milestone 1
    = render partial: 'nfg_csv_importer/import_mailer/send_import_result/milestone', locals: { milestone: NfgCsvImporter::Import::QUEUED_STATUS, import_mailer_presenter: import_mailer_presenter }

    -# Milestone 2
    = render partial: 'nfg_csv_importer/import_mailer/send_import_result/milestone', locals: { milestone: NfgCsvImporter::Import::PROCESSING_STATUS, import_mailer_presenter: import_mailer_presenter }

    -# Milestone 3
    = render partial: 'nfg_csv_importer/import_mailer/send_import_result/milestone', locals: { milestone: NfgCsvImporter::Import::COMPLETED_STATUS, import_mailer_presenter: import_mailer_presenter }
