-# ex: 'user' or 'donation'
- humanize = local_assigns[:humanize]
- onboarder_presenter = local_assigns[:onboarder_presenter]

= ui.nfg :card, class: 'mt-2' do
  -# The headline of the card (e.g.: User's name or the donation amount)
  = ui.nfg :media do
    = ui.nfg :media_object do
      -# For sizing purposes, use a typeface component with an icon instead of a conventional icon component.
      = ui.nfg :typeface, :heading, onboarder_presenter.color_theme(humanize), icon: onboarder_presenter.humanized_card_header_icon(humanize), class: 'mr-2'

    -# The caption / summary (e.g.: donation details or contact information)
    = ui.nfg :media_body do
      = ui.nfg :typeface, heading: onboarder_presenter.humanized_card_heading(humanize)

      - onboarder_presenter.humanized_card_heading_caption(humanize).each do |caption|
        = ui.nfg :typeface, body: caption, class: 'mb-0'

  -# The rest of the information, e.g.: full address, or donation note, etc.
  - onboarder_presenter.humanized_card_body(humanize).each do |content_sections|
    - content_sections.each do |content_section, array_of_information|
      = ui.nfg :media, class: 'mt-3' do
        = ui.nfg :media_object do
          = ui.nfg :icon, onboarder_presenter.humanized_card_body_icon(content_section), class: 'mr-2 line-height'

        = ui.nfg :media_body do
          - array_of_information.each do |content_block|
            = ui.nfg :typeface, body: content_block, class: 'mb-0'
