- icon = "" if local_assigns[:icon].nil?
- heading = "" if local_assigns[:heading].nil?
- heading_class = "" if local_assigns[:heading_class].nil?
- content = "" if local_assigns[:content].nil?
- content_class = "" if local_assigns[:content_class].nil?
- color = "text-primary" if local_assigns[:color].nil?

= ui.nfg :card, class: 'card-icon-column' do
  = fa_stacked_icon "#{icon} inverse fw", base: "circle", class: "fa-lg m-b-quarter mb-1 #{color}"
  = ui.nfg :typeface, heading: heading.to_s, class: "h2 #{heading_class}", render_if: heading.present?
  - if content.present?
    = ui.nfg :typeface, :muted, body: content.to_s, class: "mb-0 #{content_class}"
  - else
    = yield