- onboarder_presenter = local_assigns[:onboarder_presenter]
- import = local_assigns[:import]
- field = local_assigns[:field]

- description = import.column_descriptions[field]

.row
  .col.text-right
    = ui.nfg :media do
      = ui.nfg :media_body do
        = ui.nfg :typeface, heading: onboarder_presenter.import_column_display_name(import.import_type, field)
      = ui.nfg :media_object do
        = ui.nfg :icon, 'long-arrow-right'
  .col
    = description.present? ? description : t("nfg_csv_importer.imports.new.content.no_description").html_safe
