.importer-gem{ data: { view_wrapper: 'importer-gem' } }
  -# Jumbotron
  = ui.nfg :jumbotron, describe: 'importer-jumbotron', class: 'jumbotron-clouds' do
    = ui.nfg :typeface, :white, title: "Let's upload your files"
    = ui.nfg :typeface, :white, heading: "Some witty heading"

  -# Steps
  .row
    .col-md-8.col-12.mx-auto
      = ui.nfg :steps do
        = ui.nfg :step, :active, step: 1, body: 'Upload', href: '#back'
        = ui.nfg :step, step: 2, body: 'Preview'
        = ui.nfg :step, icon: 'check', body: 'Import!'
  .row
    .col-md-8.col-12.mx-auto
      -# Body
      = ui.nfg :typeface, body: "When you downloaded your exported CSVs from PayPal, they come in a 'package' and look like this: some_filename.csv. Add it below."

      -# Fake form, not sure where or how pre_processing_occurs on Import
      = simple_form_for @import, remote: true, authenticity_token: true, url: nfg_csv_importer.create_pre_processes_path, method: :post do |f|
        = f.input :pre_processing_type, as: :hidden, input_html: { value: @pre_processing_type }
        = f.input :import_type, as: :hidden, input_html: { value: @import_presenter.import_type_value_for_pre_process_form }
        .row
          .col-9
            = f.input :import_file, as: :file
          .col-3
            -# Add file does not yet work
            = ui.nfg :button, :secondary, body: 'Add File', icon: 'plus'

        = ui.nfg :button, :submit, body: 'Upload & Preview'
        -# Should be removed
        %p
          = ui.nfg :button, body: 'Magic Link to get to Preview Page!', href: nfg_csv_importer.preview_path

      = ui.nfg :typeface, :caption, class: 'my-4 text-center' do
        Need to run through those instructions again? No problem,
        = link_to 'you can review here.', @import_presenter.external_resource_url

-# REMOVE ME WHEN NO LONGER NEEDED!!!
-# THIS IS ONLY NEEDED WHILE NFG_UI IS NOT THE PRIMARY STYLES AND JAVASCRIPTS
= render 'nfg_csv_importer/nfg_ui_assets_temporary_include_tags'