- pre_processing_type = local_assigns[:pre_processing_type]
- import_presenter = local_assigns[:import_presenter]

= ui.nfg :modal, id: 'get_started_modal' do
  = ui.nfg :typeface, :caption, :muted do
    = ui.nfg :icon, 'clock-o'
    5-10 min to import




  %div{ data: { toggle: 'tour-slider' }}
    -# Step 1
    .row
      .col-md-7.mx-auto.col-8
        = image_tag 'nfg_csv_importer/illustrations/guided-tour.png', class: 'img-fluid'

    .row
      .col
        = import_presenter.get_started_modal_steps(step: 1, heading_options: { name: pre_processing_type.humanize })

    -# Step 2
    .row
      .col-md-7.mx-auto.col-8
        = image_tag 'nfg_csv_importer/illustrations/guided-tour.png', class: 'img-fluid'

    .row
      .col
        = import_presenter.get_started_modal_steps(step: 2, heading_options: { name: pre_processing_type.humanize })

    -# Step 3
    .row
      .col-md-7.mx-auto.col-8
        = image_tag 'nfg_csv_importer/illustrations/guided-tour.png', class: 'img-fluid'

    .row
      .col
        = import_presenter.get_started_modal_steps(step: 3, heading_options: { name: pre_processing_type.humanize })

    -# Indicators
    .row{ data: { tour_slider: 'indicators' } }
      .col
        = ui.nfg :icon, 'circle', :primary
        = ui.nfg :icon, 'circle', :muted
        = ui.nfg :icon, 'circle', :muted

    -# Controls
    .row
      .col
        = ui.nfg :button, icon: 'caret-right', body: 'Next'

  = ui.nfg :typeface, :muted, :caption do
    If you're already good to go,
    = link_to 'skip the tutorial and upload your files.', '#REPLACEME!', class: 'text-primary'