- column_structure_classes = "" if local_assigns[:column_structure_classes].nil?

.row
  %div{ class: column_structure_classes }
    %h4
      = import.imported_by_name
    %small
      = link_to import.import_file.url do
        %i.fa.fa-paperclip
        = import.import_file_name

  %div{ class: column_structure_classes }
    = number_of_records_without_errors_based_on_import_status(import)

  %div{ class: column_structure_classes }
    = number_of_records_with_errors_based_on_import_status(import)

  %div{ class: column_structure_classes }
    %h4= import.updated_at.to_s(:abrev_month_yyyy)
    %small= import.updated_at.to_s(:abrev_time_alternative)

  %div{ class: column_structure_classes }
    = import_status_icon_and_text(import)

  %div{ class: column_structure_classes }
    = edit_import_link(import)

