- import = nil if local_assigns[:import].nil?

#importer_header_stats.container-fluid.container-flush
  %span.header-bar-arrow
  .row.row-xs-center.row-importer-stats

    .col-md-2.col-xs-center.col-importer-stat
      .display-3
        = number_with_delimiter(@import.number_of_records)
      .text-sub-headline
        Rows

    .col-md-2.col-xs-center.col-importer-stat
      .display-3
        = @import.column_stats[:column_count]
      .text-sub-headline
        Columns

    .col-md-2.col-xs-center.col-importer-stat
      .display-3
        = @import.column_stats[:ignored_column_count]
      .text-sub-headline
        Ignored Columns

    .col-md-2.col-xs-center.col-importer-stat
      .display-3
        = @import.column_stats[:unmapped_column_count]
      .text-sub-headline
        Unmapped Columns
      - if @import.column_stats[:unmapped_column_count] > 0
        %a.text-glow{ href: "javascript:;" }
          %span#turn_highlights_on
            %i.fa.fa-lightbulb-o.text-white
            %strong
              Highlight Columns
          %span#turn_highlights_off{ style: "display: none;"}
            %i.fa.fa-eye-slash.text-white
            %strong
              Turn Highlight Off

    .col-md-4.col-md-center.text-xs-center
      .display-4
        - if import.ready_to_import?
          %i.fa.fa-check-circle.text-white
          %br
          Ready to import
        - else
          %i.fa.fa-times-circle.text-white
          %br
          Not ready to import
      %p
        = link_to import_review_path(import), class: "btn btn-white-outline #{ 'disabled' unless import.ready_to_import? }" do
          %i.fa.fa-chevron-right.text-white
          Review & Confirm