- mapped_column = nil if local_assigns[:mapped_column].nil?

- case mapped_column.status
- when :unmapped
  - header_name = "a_static_column"

- when :active
  - label_status = "success"
  - label_icon = "fa-check-circle"
  - label_text = "Mapping Column"
  - header_name = mapped_column.name
- when :mapped
  - label_status = "success"
  - label_icon = "fa-check-circle"
  - label_text = "Mapped"
  - header_name = mapped_column.mapped_to
- when :ignored
  - label_status = "danger"
  - label_icon = "fa-exclamation-circle"
  - label_text = "Won't be imported"
  - header_name = mapped_column.name


- unless mapped_column.status == :unmapped
  -# When mapping has wrapped up, have the label:
  -# 1. Fade out "Mapping column"
  -# 2. Slide the check mark to the right
  -# 3. Shrink label to fit checkmark
  -# 4. Expand label out to reveal "Mapped"
  %div{ class: "label label-pill label-#{label_status}" }
    %i{ class: "fa #{label_icon}" }
    = label_text

.card-header
  .card-header-interactions
    - if (mapped_column.status == :ignored) || (mapped_column.status == :unmapped)
      %label.c-input.c-checkbox.m-b-quarter
        - if mapped_column.status == :ignored
          / todo: make name dynamic
          %input{ name: "ignore_header_name", type: "checkbox", value: "ignore_column", checked: "checked" }
        - else
          %input{ name: "ignore", type: "checkbox", value: "ignore" }
        %span.c-indicator
        %span.text-muted Ignore Column
    - else
      %a.m-b-quarter{ href: "javascript:;" }
        %i.fa.fa-pencil
        Edit Column

  .form-group
    - if mapped_column.status == :ignored
      %select{ class: "c-select disabled", disabled: "disabled" }
        %option{ selected: "selected" } Ignore Column

    - elsif mapped_column.status == :unmapped
      %select{ class: "c-select" }
        %option{ selected: "selected" } Select Header
        %optgroup{ label: "Personal Contact Details" }
          %option Personal - Full Name
          %option Personal - First Name
          %option Last Name
          %option Etc
        %optgroup{ label: "Professional Contact Details" }
          %option Work Phone
          %option Work Email
          %option Work Address 1
          %option Etc
        %optgroup{ label: "Organization Contact Details" }
          %option Business Name
          %option Business Email
          %option Etc
        %optgroup{ label: "Custom Fields" }
          %option Favorite Food
          %option Favorite Team
          %option Etc
        %option Ignore Column

    - else
      -# Kicks off edit, just like the edit button above.
      %a.h3.text-xs-center.m-t-half{ href: "javascript:;" }
        = mapped_column.name


  %h4.h5.text-xs-center
    - if (mapped_column.status == :unmapped) || (mapped_column.status == :ignored)
      = header_name
      - unless mapped_column.status == :ignored
        %sup
          %i.fa.fa-info-circle{ title: "We couldn't automatically map this column for you", data: { toggle: "tooltip", placement: "top" } }
    - else
      %s.text-muted= header_name


