- import_presenter = local_assigns[:import_presenter]
- import = local_assigns[:import]
- language_scope = [:nfg_csv_importer, :imports, :index]
- imports_listing_row_column_structure_class = "" if local_assigns[:imports_listing_row_column_structure_class].nil?

- if import.can_be_viewed_by(current_user)
  .slat{ id: dom_id(import), data: { id: import.id, describe: 'import-slat', import_type: import.import_type } }
    .row
      %div{ class: imports_listing_row_column_structure_class, id: "#{dom_id(import)}_name" }
        %h5{ data: { describe: 'imported-by-name' } }= import.imported_by_name
        %p.m-t-quarter.small= import.updated_at.to_s(:abrev_month_yyyy)

      %div{ class: imports_listing_row_column_structure_class }
        %h5{ data: { describe: 'file-origination-type' } }= import_presenter.file_origination_type_name
        %p.m-t-quarter.small
          %strong= import_status_link(import)

      %div{ class: imports_listing_row_column_structure_class, data: { describe: 'amount-of-records-without-errors' } }
        = number_of_records_without_errors_based_on_import_status(import)

      %div{ class: imports_listing_row_column_structure_class }
        -# NOTE: THIS IS STILL BASED ON SUMMARY DATA AND DOES NOT YET REFLECT THE ACCURATE TOTAL IMPORTED AMOUNT.
        - if import&.statistics['summary_data'].present?
          %h5= number_to_currency(import&.statistics['summary_data']['total_donation_amount'], precision: 0)
          %p.m-t-quarter.small= pluralize(import&.statistics['summary_data']['total_rows_with_non_zero_donations'], 'Donation')

      %div{ class: imports_listing_row_column_structure_class }
        = number_of_records_with_errors_based_on_import_status(import)

      %div.text-xs-right{ class: imports_listing_row_column_structure_class }
        .btn-group
          - if import.uploaded?
            = link_to nfg_csv_importer.onboarding_import_data_path(import_id: import.id), class: 'btn btn-secondary' do
              = fa_icon 'pencil'
              %span.m-l-quarter.hidden-sm-down= t("links.edit_import", scope: language_scope)

          - else
            = link_to nfg_csv_importer.import_path(import), class: 'btn btn-secondary' do
              = fa_icon "info-circle", class: "m-r-quarter", text: t("links.details", scope: language_scope)

          %a.btn.btn-secondary.dropdown-toggle{"data-toggle" => "dropdown"}
            = fa_icon 'chevron-down'
          .dropdown-menu.dropdown-menu-right{:role => "menu"}
            = link_to import.import_file.url, class: 'dropdown-item' do
              = fa_icon 'download', class: 'm-r-quarter', text: t("links.download", scope: language_scope)

            - if import.can_be_deleted?(current_user)
              = link_to import_path(import), method: :delete, class: 'dropdown-item text-danger', data: { confirm: import_delete_confirmation(import) } do
                = fa_icon 'trash-o', class: 'm-r-quarter', text: t("links.delete_import", scope: language_scope)
