-# LEGACY VERSION
-# TO BE REMOVED.
-# IMPORT DEFINITIONS PARTIAL HAS THE CORRECT VERSION WHICH IS NOW
-# USED IN A MODAL. THIS IS HERE FOR SPEC REPAIR PURPOSES

.jumbotron.jumbotron-fluid.jumbotron-clouds
  -# Magic link
  = ui.nfg :button, :lg, body: 'Onboarder Import Magic Link', href: nfg_csv_importer.onboarding_import_data_path, describe: 'import-data-onboarder-cta'

  = render 'nfg_csv_importer/imports/import_definitions', language_scope: language_scope, import_definitions: import_definitions, import_type_column_structure_classes: import_type_column_structure_classes, start_button_options: { href: nfg_csv_importer.new_import_path(import_type: import_definitions.keys.first) }



.container-fluid
  .row
    .col-xs-12.p-x-2
      %h1.text-xs-center What kind of data are you importing?
      %p.text-xs-center If you're unsure, importing users is likely the best route to go. It'll cover donations and contacts




  - if import_definitions.size > 1
    #import_type_row.row.m-t-1{ data: { show_hide: "hide" } }
      - import_definitions.each do |import_type, definition|
        %div{ class: import_type_column_structure_classes, id: import_type }
          .card.flex-1.m-b-2
            .card-block
              %h4.card-title.m-b-1= t("jumbotron.import_types", scope: language_scope, import_type: import_type.to_s.pluralize.titleize)
              .card-text.m-b-1
                = simple_format(definition.headline)
              = link_to NfgCsvImporter::Engine.routes.url_helpers.new_import_path(import_type: import_type.to_s), class: "btn btn-primary", id: "begin_import_#{ import_type }" do
                = fa_icon "chevron-right", text: t("links.begin_import", scope: language_scope), right: true
  .row
    .col-md-10.offset-md-1.col-xs-12
      .text-xs-center.m-t-1
        %a.btn.btn-primary#get_started{ start_button_options }
          = fa_icon "chevron-right", text: t("links.start", scope: language_scope), right: true