#importer_errors
  = render "nfg_csv_importer/imports/importer_errors", import: import

-# TODO: Consider: when horizontal scroll is detected on window, focus this container so we can avoid the user leveraging the browsser back / forward action from swiping.
#columns_wrapper.container-fluid.container-flush

  .bg-white.text-xs-center.p-t-3{ style: 'z-index:1; position: absolute; width: 100%;' }
    %p.lead
      Review and map your column headers before importing your data
    %p
      %i.text-muted
        Navigate by scrolling left or right or by clicking the arrow buttons

  %a.horizontal-scroll-btn{ href: "javascript:;", data: { horizontal_scroll_button: "left" } }
    = fa_icon "arrow-circle-left"

  %a.horizontal-scroll-btn{ href: "javascript:;", data: { horizontal_scroll_button: "right" } }
    = fa_icon "arrow-circle-right"

  .container-importer
    = form_for import, html: { id: "fields_mapping" } do
      .row.row-no-wrap
        - import.mapped_fields.each_with_index do |mapped_column, index|
          = render "nfg_csv_importer/imports/importer_column", mapped_column: mapped_column, import: import, index: index

      %div{ data: { describe: 'horizontal-scroll-ending-spacer' } }