-# TODO: remove this later, for now this is just an easy spacer above the content.
%div{ class: 'm-t-double'  }

#self_importer.nfg-csv-importer
  %p

    %i.fa.fa-info-circle
    %strong Source Uploaded Document:
    =@import.import_file_name


  %p
    %strong Total rows to be imported upon completion:
    -# TODO: Would like to have the imported file's row count here
    -# For now, this is the wrong code, but should explain what I'm looking for
    = @import.imported_records.size

  %p
    %strong Total columns supplied in the uploaded spreadsheet:
    -# TODO: so this would reflect the amount of columns in the uploaded doc.
    -# Does not (for now) include the count of columns that are ignored  since we're not tracking ignored.



  %hr
  %p
    -# Not expecting this to be used, but keeping here for design balancing.
    %label.c-input.c-checkbox
      %input{ :name => "option-checkbox", :type => "checkbox", :value => 1 }
      %span.c-indicator
      Show skipped columns
  %hr

  %h2.h4 Below is a sample of the first few rows of your data
  %p Use the dropdown menus below to select the mappings for your import, rest assured, all

  .container-fluid.m-y-double-half
    = form_for @import do |f|
      .row.row-no-wrap.p-a-half.m-b-base-half
        = f.fields_for :fields_mapping do |id|
          = render partial: "nfg_csv_importer/imports/self_importer/importer_column", locals: { id: id, f: f }
      .row
        .col-xs-12
          = button_tag type: :submit, class: "btn btn-primary btn-lg" do
            Save
            = fa_icon "chevron-right"
