/ TODO: need a way to tell the importer that it's ready so it can turn on buttons (below importer columns) and change the content for the stats partial.
- ready_for_import = false

.nfg-csv-importer{ data: { unmapped_highlight: 'disabled'} }

  = render 'nfg_csv_importer/imports/import_header_file_name', import: @import

  = render 'nfg_csv_importer/imports/import_header_stats', import: @import, ready_for_import: ready_for_import

  / Doesn't work yet
  / - if @errors
  #importer_errors
    = render "nfg_csv_importer/imports/importer_errors", import: @import

  -# TODO: Consider: when horizontal scroll is detected on window, focus this container so we can avoid the user leveraging the browsser back / forward action from swiping.
  #columns_wrapper.container-fluid.container-flush

    .bg-white.text-xs-center.p-t-3{ style: 'z-index:1; position: absolute; width: 100%;' }
      %p.lead
        Review and map your column headers before importing your data
      %p
        %i.text-muted
          Navigate by scrolling left or right or by clicking the arrow buttons

    %a.horizontal-scroll-btn{ href: "javascript:;", data: { horizontal_scroll_button: "left" } }
      %i.fa.fa-arrow-circle-left


    %a.horizontal-scroll-btn{ href: "javascript:;", data: { horizontal_scroll_button: "right" } }
      %i.fa.fa-arrow-circle-right


    .container-importer
      = form_for @import, html: { id: "fields_mapping" } do
        .row.row-no-wrap
          - @import.mapped_fields.each_with_index do |mapped_column, index|
            = render "nfg_csv_importer/imports/importer_column", mapped_column: mapped_column, import: @import, index: index

        %div{ data: { describe: 'horizontal-scroll-ending-spacer' } }


  .container-fluid.container-flush.bg-white
    .row.p-x-1.p-t-1.p-b-3
      .col-xs-6
        = link_to imports_path, class: "btn btn-secondary btn-lg" do
          = fa_icon "chevron-left fw", text: "Save & Come Back Later"




  = render "nfg_csv_importer/imports/design_source/auto_save"

  - if @mapped_column_count > 0
    #nfg_csv_importer_modal_first_visit.modal.interstitial.blue.fade{ "aria-hidden" => "true", "aria-labelledby" => "modal_title_nfg_csv_importer_modal_first_visit", :role => "dialog", :tabindex => "-1", data: { modal_identifier: "nfg_csv_importer_modal", backdrop: "static" } }
      %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button" }
        %span{"aria-hidden" => "true"}
          %i.fa.fa-times-circle
      .container-fluid
        .row.row-xs-center{ style: "height: 100%;" }
          .col-xs-12.col-xs-push-0.col-md-8.col-md-push-2.col-xl-6.col-xl-push-3
            .modal-dialog{:role => "document"}
              .modal-content
                .modal-header


                  .media#modal_title_nfg_csv_importer_modal_first_visit
                    .media-left.hidden-sm-down
                      %span.fa-stack.fa-lg
                        %i.fa.fa-circle.fa-stack-2x
                        %i.fa.fa-thumbs-o-up.fa-stack-1x
                    .media-body
                      Great News!
                .modal-body.m-b-1
                  %p.m-b-2
                    We just saved you some time by automatically mapping
                    %strong
                      #{ @import.column_stats[:mapped_column_count] } column headers
                    of the #{ @import.column_stats[:column_count] } columns in your file for you.
                  .small
                    %i As good as we are at this, you should still double check our work :)

                .modal-footer
                  %a.btn.btn-white-bg.btn-lg{ type: "button", data: { dismiss: "modal" } }
                    = fa_icon "chevron-right", text: "Great, Let's Go", right: true

    :javascript
      $("#nfg_csv_importer_modal_first_visit").appendTo("body");
      $("body").addClass("interstitial-open nfg-csv-importer");
      $("#nfg_csv_importer_modal_first_visit").modal();


