///// -- Design Source Code -- /////

- ready_for_import = true

.nfg-csv-importer
  #importer_header_bar.container-fluid.container-flush
    .row.row-importer-header.row-xs-center
      .col-xs-12
        %h1
          %i.fa.fa-paperclip
          my_filename_whatever.xlsx
        %a.import-header-link{ href: "javascript:;" }
          .media
            .media-body
              Import
              %br
              Templates
            .media-right
              .media-object
                %i.fa.fa-th

  .container-fluid.container-flush
    .row.row-xs-center.row-importer-stats

      .col-md-2.col-xs-center.col-importer-stat
        .display-3
          4,512
        .text-sub-headline
          Rows

      .col-md-2.col-xs-center.col-importer-stat
        .display-3
          25
        .text-sub-headline
          Columns

      .col-md-2.col-xs-center.col-importer-stat
        .display-3
          3
        .text-sub-headline
          Ignored Columns

      .col-md-2.col-xs-center.col-importer-stat
        .display-3
          18
        .text-sub-headline
          Unmapped Columns

        %a.text-glow{ href: "javascript:;" }
          %i.fa.fa-lightbulb-o.text-white
          %strong
            %span#highlight_off
              Highlight Columns
            %span#highlight_on
              Turn Off Highlight


      .col-md-4.col-md-center.text-xs-center
        .display-4
          - if ready_for_import
            %i.fa.fa-check-circle.text-white
            %br
            Ready to import
          - else
            %i.fa.fa-times-circle.text-white
            %br
            Not ready to import
        %p
          %a{ href: "javascript:;", class: "btn btn-white-outline #{ 'disabled' unless ready_for_import }" }

            Review & Confirm
            %i.fa.fa-chevron-right.text-white

  .container-fluid.container-flush.bg-white
    .row
      .col-xs-12.p-y-double.text-xs-center
        / %h2.h4
        /   Now it's time to map your column headers
        / %p
        /   This is the setup process for importing your data. Nothing will be finalized until you review & confirm your choices.

        .lead
          Let's map your column headers ahead of importing your data

  -# TODO: Consider: when horizontal scroll is detected on window, focus this container so we can avoid the user leveraging the browsser back / forward action from swiping.
  .container-fluid.container-flush

    .container-importer

      .row.row-no-wrap

        -# Column: Static / base version
        = render "nfg_csv_importer/imports/design_source/importer_column", version: :static

        -# Column: Column is mid-stream being "mapped" as indicated to the user
        -# like this: on render, apply .card-active
          -# after the animation has finished, add .card-mapped
          -# remove .card-active
        = render "nfg_csv_importer/imports/design_source/importer_column", version: :active

        -# Column: Column has been set to ignored (.card-disabled)
        = render "nfg_csv_importer/imports/design_source/importer_column", version: :ignored

        -# Column: Column is now mapped (.card-mapped)
        = render "nfg_csv_importer/imports/design_source/importer_column", version: :mapped

        -# Column: Column was mapped by us (.card-mapped)
        = render "nfg_csv_importer/imports/design_source/importer_column", version: :auto_mapped

        -# Column: Additional columns for page layout purposes
        = render "nfg_csv_importer/imports/design_source/importer_column", version: :static
        = render "nfg_csv_importer/imports/design_source/importer_column", version: :mapped
        = render "nfg_csv_importer/imports/design_source/importer_column", version: :ignored
        = render "nfg_csv_importer/imports/design_source/importer_column", version: :static
        = render "nfg_csv_importer/imports/design_source/importer_column", version: :static
        = render "nfg_csv_importer/imports/design_source/importer_column", version: :mapped

  -# Displayed upon any interaction with any column
  .alert.alert-success.alert-growl{ role: "alert" }
    Saving Updates
    %i.fa.fa-spinner.fa-pulse.fa-2x.fa-fw

:javascript
  $(document).ready(function() {

    $("#highlight_on").hide();

    $("a.text-glow").click( function(){

      $("#highlight_off").toggle();
      $("#highlight_on").toggle();

      $(".card[data-mapped='false']").each( function() {
        $(this).toggleClass("card-highlight");
      });
    });
  });


///// -- Original Code -- /////

/ -# TODO: remove this later, for now this is just an easy spacer above the content.
/ %div{ class: 'm-t-double'  }

/ #self_importer.nfg-csv-importer
/   %p

/     %i.fa.fa-info-circle
/     %strong Source Uploaded Document:
/     =@import.import_file_name


/   %p
/     %strong Total rows to be imported upon completion:
/     -# TODO: Would like to have the imported file's row count here
/     -# For now, this is the wrong code, but should explain what I'm looking for
/     = @import.imported_records.size

/   %p
/     %strong Total columns supplied in the uploaded spreadsheet:
/     -# TODO: so this would reflect the amount of columns in the uploaded doc.
/     -# Does not (for now) include the count of columns that are ignored  since we're not tracking ignored.



/   %hr
/   %p
/     -# Not expecting this to be used, but keeping here for design balancing.
/     %label.c-input.c-checkbox
/       %input{ :name => "option-checkbox", :type => "checkbox", :value => 1 }
/       %span.c-indicator
/       Show skipped columns
/   %hr

/   %h2.h4 Below is a sample of the first few rows of your data
/   %p Use the dropdown menus below to select the mappings for your import, rest assured, all

/   .container-fluid.m-y-triple

/     = form_for @import, url: nfg_csv_importer.import_review_path(@import), ajax: true do |f|
/       .row.row-no-wrap.p-a-half.m-b-base-half

/         = render partial: "nfg_csv_importer/imports/self_importer/importer_column", collection: @headers, as: :header_name


/       .row
/         .col-xs-12
/           = button_tag type: :submit, class: "btn btn-primary btn-lg" do
/             Review
/             = fa_icon "chevron-right"
