///// -- Design Source Code -- /////

/ Swap components with this flag
- ready_for_import = true
- duplicate_columns = true

.nfg-csv-importer

  = render 'nfg_csv_importer/imports/design_source/import_header_file_name', import: @import

  = render 'nfg_csv_importer/imports/design_source/import_header_stats', ready_for_import: ready_for_import, import: @import

  - if @errors
    = render "nfg_csv_importer/imports/design_source/importer_errors", duplicate_columns: duplicate_columns





  -# TODO: Consider: when horizontal scroll is detected on window, focus this container so we can avoid the user leveraging the browsser back / forward action from swiping.
  #thing.container-fluid.container-flush

    .thinger.bg-white.text-xs-center.p-t-double{ style: 'z-index:1; position: absolute; width: 100%;' }
      %p.lead
        Let's map your column headers ahead of importing your data
      %p
        %i.text-muted
          Navigate by scrolling left or right or by clicking the arrow buttons

    %a.horizontal-scroll-btn{ href: "javascript:;", data: { horizontal_scroll_button: "left" } }
      %i.fa.fa-arrow-circle-left


    %a.horizontal-scroll-btn{ href: "javascript:;", data: { horizontal_scroll_button: "right" } }
      %i.fa.fa-arrow-circle-right


    .container-importer

      .row.row-no-wrap
        -# Column: Static / base version
        = render "nfg_csv_importer/imports/design_source/importer_column", version: :unmapped

        -# Column: Column is mid-stream being "mapped" as indicated to the user
        -# like this: on render, apply .card-active
          -# after the animation has finished, add .card-mapped
          -# remove .card-active
        = render "nfg_csv_importer/imports/design_source/importer_column", version: :active

        -# Column: Column has been set to ignored (.card-disabled)
        = render "nfg_csv_importer/imports/design_source/importer_column", version: :ignored

        -# Column: Column is now mapped (.card-mapped)
        = render "nfg_csv_importer/imports/design_source/importer_column", version: :mapped

        -# Column: Additional columns for page layout purposes
        = render "nfg_csv_importer/imports/design_source/importer_column", version: :unmapped
        = render "nfg_csv_importer/imports/design_source/importer_column", version: :mapped
        = render "nfg_csv_importer/imports/design_source/importer_column", version: :ignored
        = render "nfg_csv_importer/imports/design_source/importer_column", version: :unmapped
        = render "nfg_csv_importer/imports/design_source/importer_column", version: :unmapped
        = render "nfg_csv_importer/imports/design_source/importer_column", version: :mapped


        %div{ data: { describe: 'horizontal-scroll-ending-spacer' } }


  .container-fluid.container-flush.bg-white
    .row.p-x-base.p-t-base.p-b-triple
      .col-xs-6
        %a.btn.btn-secondary.btn-lg{ href: "javascript:;" }
          %i.fa.fa-chevron-left.m-r-quarter
          Save & Come Back Later
      .col-xs-6.text-xs-right
        %a.btn.btn-primary.btn-lg{ href: "javascript:;", class: "#{ 'disabled' unless ready_for_import }" }
          Review & Confirm Your Import
          %i.fa.fa-chevron-right.m-l-quarter


  = render "nfg_csv_importer/imports/design_source/auto_save"





///// -- Original Code -- /////

/ -# TODO: remove this later, for now this is just an easy spacer above the content.
/ %div{ class: 'm-t-double'  }

/ #self_importer.nfg-csv-importer
/   %p

/     %i.fa.fa-info-circle
/     %strong Source Uploaded Document:
/     =@import.import_file_name


/   %p
/     %strong Total rows to be imported upon completion:
/     -# TODO: Would like to have the imported file's row count here
/     -# For now, this is the wrong code, but should explain what I'm looking for
/     = @import.imported_records.size

/   %p
/     %strong Total columns supplied in the uploaded spreadsheet:
/     -# TODO: so this would reflect the amount of columns in the uploaded doc.
/     -# Does not (for now) include the count of columns that are ignored  since we're not tracking ignored.



/   %hr
/   %p
/     -# Not expecting this to be used, but keeping here for design balancing.
/     %label.c-input.c-checkbox
/       %input{ :name => "option-checkbox", :type => "checkbox", :value => 1 }
/       %span.c-indicator
/       Show skipped columns
/   %hr

/   %h2.h4 Below is a sample of the first few rows of your data
/   %p Use the dropdown menus below to select the mappings for your import, rest assured, all

/   .container-fluid.m-y-triple

/     = form_for @import, url: nfg_csv_importer.import_review_path(@import), ajax: true do |f|
/       .row.row-no-wrap.p-a-half.m-b-base-half

/         = render partial: "nfg_csv_importer/imports/self_importer/importer_column", collection: @headers, as: :header_name


/       .row
/         .col-xs-12
/           = button_tag type: :submit, class: "btn btn-primary btn-lg" do
/             Review
/             = fa_icon "chevron-right"
