///// -- Design Source Code -- /////

.nfg-csv-importer
  #importer_header_bar.container-fluid.container-flush
    .row.row-importer-header.row-xs-center
      .col-xs-12
        %h1
          %i.fa.fa-paperclip
          my_filename_whatever.xlsx
        %a{ href: "javascript:;" }

          %i.fa.fa-th
          %br
          Templates
  .container-fluid.container-flush
    .row.row-xs-center.row-importer-stats
      .col-md-2.col-xs-center.col-importer-stat
        .display-3
          4,512
        .text-sub-headline
          Rows

      .col-md-2.col-xs-center.col-importer-stat
        .display-3
          25
        .text-sub-headline
          Columns

      .col-md-2.col-xs-center.col-importer-stat
        .display-3
          129
        .text-sub-headline
          Rows

      .col-md-2.col-xs-center.col-importer-stat
        .display-3.m-t-base
          18
        .text-sub-headline
          Unmapped Columns

        %a.text-glow{ href: "javascript:;" }
          %i.fa.fa-lightbulb-o.text-white
          Highlight


      .col-md-4.text-xs-center



        .display-4

          %i.fa.fa-check-circle.text-white
          %br
          Ready to import
        %p
          %a.btn.btn-white-outline{ href: "javascript:;" }
            Review & Confirm
            %i.fa.fa-chevron-right.text-white


  .container-fluid.container-flush.bg-white
    .row
      .col-xs-12.p-t-double.p-b-half.text-xs-center
        %h2.h4
          Below is a sample of the first few rows of your data
        %p
          Use the dropdown menus below to select the mappings for your import, rest assured, these mappings aren't final until you say so.

  .container-fluid.container-flush
    .container-importer
      .row.row-no-wrap

        -# Column: Static / base version
        = render "nfg_csv_importer/imports/design_source/importer_column", version: :static

        -# Column: Column is mid-stream being "mapped" as indicated to the user
        -# like this: on render, apply .card-highlight
          -# after the animation has finished, add .card-mapped
          -# remove .card-highlight
        = render "nfg_csv_importer/imports/design_source/importer_column", version: :active

        -# Column: Column has been set to ignored (.card-disabled)
        = render "nfg_csv_importer/imports/design_source/importer_column", version: :ignored

        -# Column: Column is now mapped (.card-mapped)
        = render "nfg_csv_importer/imports/design_source/importer_column", version: :mapped

        -# Column: Column was mapped by us (.card-mapped)
        = render "nfg_csv_importer/imports/design_source/importer_column", version: :auto_mapped

        -# Column: Additional columns for page layout purposes
        = render "nfg_csv_importer/imports/design_source/importer_column", version: :static
        = render "nfg_csv_importer/imports/design_source/importer_column", version: :mapped
        = render "nfg_csv_importer/imports/design_source/importer_column", version: :ignored
        = render "nfg_csv_importer/imports/design_source/importer_column", version: :static
        = render "nfg_csv_importer/imports/design_source/importer_column", version: :static
        = render "nfg_csv_importer/imports/design_source/importer_column", version: :mapped

  -# Displayed upon any interaction with any column
  .alert.alert-success.alert-growl{ role: "alert" }
    Saving Updates
    %i.fa.fa-spinner.fa-pulse.fa-2x.fa-fw

/ :javascript
/   $("a.text-glow").on("click").closest(".card");

:javascript
  $(document).ready(function(){
    $("#importer_header_bar").sticky({
      widthFromWrapper: false,
      topSpacing: 48,
      className: "header-is-stuck",
      wrapperClassName: "importer-header-bar-wrapper",
      zIndex: 99
      }
    );
  });
///// -- Original Code -- /////

/ -# TODO: remove this later, for now this is just an easy spacer above the content.
/ %div{ class: 'm-t-double'  }

/ #self_importer.nfg-csv-importer
/   %p

/     %i.fa.fa-info-circle
/     %strong Source Uploaded Document:
/     =@import.import_file_name


/   %p
/     %strong Total rows to be imported upon completion:
/     -# TODO: Would like to have the imported file's row count here
/     -# For now, this is the wrong code, but should explain what I'm looking for
/     = @import.imported_records.size

/   %p
/     %strong Total columns supplied in the uploaded spreadsheet:
/     -# TODO: so this would reflect the amount of columns in the uploaded doc.
/     -# Does not (for now) include the count of columns that are ignored  since we're not tracking ignored.



/   %hr
/   %p
/     -# Not expecting this to be used, but keeping here for design balancing.
/     %label.c-input.c-checkbox
/       %input{ :name => "option-checkbox", :type => "checkbox", :value => 1 }
/       %span.c-indicator
/       Show skipped columns
/   %hr

/   %h2.h4 Below is a sample of the first few rows of your data
/   %p Use the dropdown menus below to select the mappings for your import, rest assured, all

/   .container-fluid.m-y-triple

/     = form_for @import, url: nfg_csv_importer.import_review_path(@import), ajax: true do |f|
/       .row.row-no-wrap.p-a-half.m-b-base-half

/         = render partial: "nfg_csv_importer/imports/self_importer/importer_column", collection: @headers, as: :header_name


/       .row
/         .col-xs-12
/           = button_tag type: :submit, class: "btn btn-primary btn-lg" do
/             Review
/             = fa_icon "chevron-right"
