- column_structure_classes = "col-md-2"

.nfg-csv-importer
  .container-fluid.container-flush
    .jumbotron.jumbotron-fluid
      %h1
        Starting a
        %strong
          new
        data import?
      .p-b-base
        %p This self-guided importing tool is here to give you the flxibility to import your own data whenever you need to.

      #import_type_row.row{ data: { show_hide: "hide" } }
        - ImportDefinition.import_types.each do |import_type|
          - definition = ImportDefinition.get_definition(import_type, @imported_for)
          .col-md-4
            .card
              .card-block
                %h4.card-title.m-b-half
                  Import
                  = import_type.to_s.pluralize.titleize
                .card-text.m-b-base
                  = simple_format(definition.description)

                = link_to NfgCsvImporter::Engine.routes.url_helpers.new_import_path(import_type: import_type.to_s), class: "btn btn-white-bg" do
                  Begin Import
                  = fa_icon "chevron-right", class: "m-l-quarter"

      .jumbotron-footer.p-b-triple.p-t-base
        %a.btn.btn-white-bg{ data: { show_hide_target: "#import_type_row", fade_out: "true" } }
          Get Started

    = render(partial: 'shared/flash_messages') rescue nil

    #imports_listing.row.bg-white.p-x-base
      %h2.h4.m-b-base-half.m-l-quarter
        Past Uploads & Imports

      - if @imports.empty?
        .col-xs-12
          There are no Imports
      -else
        .col-xs-12
          .row.m-b-half
            %div{ class: column_structure_classes }
              %h4.display-4.p-t-quarter Uploaded by
            %div{ class: column_structure_classes }
              %h4.display-4.p-t-quarter Record Count
            %div{ class: column_structure_classes }
              %h4.display-4.p-t-quarter Records With Errors
            %div{ class: column_structure_classes }
              %h4.display-4.p-t-quarter Last Updated
            %div{ class: column_structure_classes }
              %h4.display-4.p-t-quarter Import Status
            %div{ class: column_structure_classes }
          = render partial: "import", collection: @imports, locals: { column_structure_classes: column_structure_classes }
          .row.p-y-base-half
            .col-xs-12
              %nav{"aria-label" => "Page navigation"}
                %ul.pagination
                  %li.page-item
                    %a.page-link{"aria-label" => "Previous", :href => "#"}
                      %span{"aria-hidden" => "true"} «
                      %span.sr-only Previous
                  %li.page-item
                    %a.page-link{:href => "#"} 1
                  %li.page-item
                    %a.page-link{:href => "#"} 2
                  %li.page-item
                    %a.page-link{:href => "#"} 3
                  %li.page-item
                    %a.page-link{:href => "#"} 4
                  %li.page-item
                    %a.page-link{:href => "#"} 5
                  %li.page-item
                    %a.page-link{"aria-label" => "Next", :href => "#"}
                      %span{"aria-hidden" => "true"} »
                      %span.sr-only Next
