- count_of_import_types = ImportDefinition.import_types.size
- import_type_column_structure_classes = "display-flex"
- import_definitions = user_import_definitions(imported_for: @imported_for, user: current_user, definition_class: ImportDefinition, imported_by: @imported_by)
- start_button_options = import_definitions.size == 1 ? { href: NfgCsvImporter::Engine.routes.url_helpers.new_import_path(import_type: import_definitions.keys.first) } : { data: { show_hide_target: "#import_type_row", fade_out: "true" } }
- if count_of_import_types == 0
  - import_type_column_structure_classes << " col-md-6 col-xl-1"
- elsif count_of_import_types > 4
  - import_type_column_structure_classes << " col-md-6 col-xl-3"
- else
  - grid_size_by_dividing_count_of_imports_by_12 = ((12).fdiv(count_of_import_types)).round
  - import_type_column_structure_classes << " col-md-6 col-xl-#{grid_size_by_dividing_count_of_imports_by_12}"


.importer-gem{ data: { view_wrapper: 'importer-gem' } }
  = ui.nfg :jumbotron, describe: 'importer-jumbotron', class: 'jumbotron-clouds' do
    = ui.nfg :typeface, :white, title: t('.jumbotron.headline').html_safe
    = ui.nfg :typeface, :white, heading: t('.jumbotron.sub_headline')

  = simple_form_for @import, url: nfg_csv_importer.get_started_pre_processes_path, remote: true do |f|
    .row
      - @import_presenter.pre_processing_types.each do |pre_processing_type|
        = render partial: 'nfg_csv_importer/pre_processes/pre_processing_choices_radio_buttons', locals: { f: f, pre_processing_type: pre_processing_type }

    = ui.nfg :button, :submit, body: t('.buttons.begin'), icon: 'caret-right'
  %hr



  -# #############


  -# Legacy
  .container-fluid.container-flush.bg-white
    -# To be moved to modal process for custom imports
    = render partial: 'nfg_csv_importer/imports/index_header', locals: { language_scope: [:nfg_csv_importer, :imports, :index], import_definitions: import_definitions, import_type_column_structure_classes: import_type_column_structure_classes, start_button_options: start_button_options }

    = render(partial: 'shared/flash_messages') rescue nil

    - if @imports.empty?
      .container-fluid.container-flush.bg-white{ data: { set_full_page: "true" } }

    - else
      #imports_listing.row.p-x-3
        .col-xs-12
          .row
            .col-xs-12
              %h2= t(".headings.past_imports")
          .row
            .col-xs-12
              .row.row-listing-header.m-b-1
                - imports_listing_row_column_structure_class = "col-md-2"

                %div{ class: imports_listing_row_column_structure_class }
                  %small= t(".headings.imported_by_name")
                %div{ class: imports_listing_row_column_structure_class }
                  %small= t(".headings.number_of_records")
                %div{ class: imports_listing_row_column_structure_class }
                  %small= t(".headings.number_of_records_with_errors")
                %div{ class: imports_listing_row_column_structure_class }
                  %small= t(".headings.updated_at")
                %div{ class: imports_listing_row_column_structure_class }
                  %small= t(".headings.status")
                %div{ class: imports_listing_row_column_structure_class }
              = render partial: "import", collection: @imports, locals: { imports_listing_row_column_structure_class: imports_listing_row_column_structure_class }
              .row.p-y-1
                .col-xs-12
                  - if defined?(WillPaginate)
                    = will_paginate @imports
                  - elsif defined?(Kaminari)
                    = paginate @imports

-# REMOVE ME WHEN NO LONGER NEEDED!!!
-# THIS IS ONLY NEEDED WHILE NFG_UI IS NOT THE PRIMARY STYLES AND JAVASCRIPTS
= render 'nfg_csv_importer/nfg_ui_assets_temporary_include_tags'