.importer-gem{ data: { view_wrapper: 'importer-gem' } }

  -# Legacy
  .container-fluid.container-flush
    .jumbotron.jumbotron-fluid.jumbotron-clouds-gray.bg-info.p-t-base-half
      .container-fluid
        .row
          .col-xs-12.p-x-2.text-white
            %h1.text-xs-center= t('.jumbotron.headline').html_safe
            %p.text-xs-center.m-b-base= t('.jumbotron.sub_headline')
            - button_text = session[:onboarding_session_id].nil? ? 'begin' : 'continue'
            = ui.nfg :button, :secondary, :lg, body: t(".buttons.#{button_text}", name: 'get_started'), href: nfg_csv_importer.onboarding_import_data_path, describe: 'import-data-onboarder-cta'
  .container-fluid
    = render(partial: 'shared/flash_messages') rescue nil
    .row
      .col-xs-12
        .container-division
          .row
            - if @imports.empty?
              .col-xs-12{ data: { describe: 'imports-empty-state' } }
                .jumbotron
                  %h4.display-3.m-b-half= fa_icon 'cloud-upload', class: 'text-light'
                  %h2.h1 Add your first import!
                  %p.m-t-quarter You're only a few steps away from importing data into your account.
            - else
              .col-xs-12.slats#imports_listing
                .slat-header.hidden-sm-down
                  .row.display-flex.flex-align-items-center
                    - imports_listing_row_column_structure_class = "col-md-2 m-b-half-down-sm"
                    %div{ class: imports_listing_row_column_structure_class }
                      %h4.display-4= t(".headings.imported_by_name")
                    %div{ class: imports_listing_row_column_structure_class }
                      %h4.display-4= t(".headings.data")
                    %div{ class: imports_listing_row_column_structure_class }
                      %h4.display-4= t(".headings.contacts")
                    %div{ class: imports_listing_row_column_structure_class }
                      %h4.display-4= t(".headings.donations")
                    %div{ class: imports_listing_row_column_structure_class }
                      %h4.display-4= t(".headings.errors")
                    %div{ class: imports_listing_row_column_structure_class }

                .slat-list
                  - @imports.each do |import|
                    - import_presenter = NfgCsvImporter::ImportPresenter.new(import, self)

                    = render partial: 'nfg_csv_importer/imports/import', locals: { import: import, imports_listing_row_column_structure_class: imports_listing_row_column_structure_class, import_presenter: import_presenter }

                .row.m-t-base
                  .col-xs-12
                    - if defined?(WillPaginate)
                      = will_paginate @imports
                    - elsif defined?(Kaminari)
                      = paginate @imports
