%h1.page
  #{@import.import_type.titleize} Import


.panel.panel-default
  .panel-body
    = render('shared/flash_messages') rescue nil
    - unless @import.import_file.file.nil?
      %p
        %b Import file:
        = link_to "Download", @import.import_file.url
    - unless @import.error_file.file.nil?
      %p
        %b Error file:
        = link_to "Download", @import.error_file.url
    %p
      %b Number of records:
      = @import.number_of_records
    %p
      %b Number of records with errors:
      = @import.number_of_records_with_errors
    %p
      %b Imported by:
      = @import.imported_by_name
    %p
      %b Created at:
      = @import.created_at.to_s(:us_time)
    %p
      %b Updated at:
      = @import.updated_at.to_s(:us_time)
    %p
      %b Status:
      = @import.status
    %p
      %b Records processed:
      = @import.records_processed
    - if @import.imported_records.any?
      %p
        = link_to 'Delete Import', import_path(@import), method: :delete, data: { confirm: t(:delete_confirmation, number_of_records: @import.imported_records.size, import_type: @import.import_type, scope: [:import, :show]) }, class: 'btn btn-danger'
