- pre_processing_type = local_assigns[:pre_processing_type]
- f = local_assigns[:f]

.col-md-4.col-6{ data: { describe: "#{pre_processing_type.type_sym}_pre_processing_type" } }
  .custom-control.custom-radio.custom-control-block
    = f.radio_button 'pre_processing_type', pre_processing_type.type_sym, class: "custom-control-input"

    %label.custom-control-label.text-center.w-100{ for: "import_pre_processing_type_#{pre_processing_type.type_sym}" }

      = image_tag pre_processing_type.logo_path, class: 'img-fluid'

      = ui.nfg :typeface, body: pre_processing_type.description, class: 'mt-2 mb-0 text-break'